/* app css stylesheet */

body {
  margin-top: 1em;
}

#hard-drive-table td {
  /* vertical-align:middle; */
}
table .btn{
  margin-top: 3px;
}

/* bootstrap overrides */
.panel.panel-heading {
  background-color: #111;
  border-color: #111;
}
.panel.panel-primary {
  border-color: #333;
}


/* form validation error colours */
input.ng-invalid.ng-dirty {
  background-color: #f2dede;
}
input.ng-invalid.ng-dirty:hover {
  background-color: #e4b9b9;
}
textarea.ng-invalid.ng-dirty {
  background-color: #f2dede;
}
textarea.ng-invalid.ng-dirty:hover {
  background-color: #e4b9b9;
}

/**** ng animations *****/
.btn.ng-hide-add, .btn.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.btn.ng-hide-add.ng-hide-add-active,
.i-have-returned.ng-hide-remove {
  opacity:0;
}

.btn.ng-hide-add,
.btn.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

