/* app css stylesheet */

#hard-drive-table td {
  /* vertical-align:middle; */
}
table .btn{
  margin-top: 3px;
}

.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.ng-valid-required.ng-dirty {
  border-color: #dff0d8;
}
.ng-valid-required.ng-dirty:hover {
  border-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}


input.ng-invalid.ng-dirty {
  background-color: #f2dede;
}
input.ng-invalid.ng-dirty:hover {
  background-color: #e4b9b9;
}
textarea.ng-invalid.ng-dirty {
  background-color: #f2dede;
}
textarea.ng-invalid.ng-dirty:hover {
  background-color: #e4b9b9;
}

/**** ng animations *****/
.btn.ng-hide-add, .btn.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.btn.ng-hide-add.ng-hide-add-active,
.i-have-returned.ng-hide-remove {
  opacity:0;
}

.btn.ng-hide-add,
.btn.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

