<div class="panel panel-heading">Hard Drives (app v<span app-version></span>)</div>
 <!-- <div class="panel-body">
</div> -->

<table id="hard-drive-table" class="table table-striped table-hover">
 <colgroup>
    <col style="width:12%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:43%">
  </colgroup>
  <tr>
    <th></th>
    <th>Hard Drive Name</th>
    <th colspan="4">Event</th>
  </tr>
  <tr ng-hide="loadedBool">
    <td style="background-color: #fff"></td>
    <td style="background-color: #fff" colspan="4"><img src="img/Preloader_4.gif"/></td>
  </tr>
  <tr ng-repeat="hardDrive in hardDrives">
    <td>
      <button ng-show="hardDrive.location" type="button" class="i-have-returned btn btn-success" ng-click="removeEvent(hardDrive)">I have returned</button>
    </td>
    <td id="hard-drive-name">
      <span class="h4">{{hardDrive.name}}</span><br>
      <small>{{hardDrive.size}}</small><br>
      <small>{{hardDrive.note}}</small>
    </td>
    <td ng-hide="hardDrive.location" colspan="3">
      <button type="button" class="btn btn-primary" ng-click="bringUpForm(hardDrive)">Send me out</button>
    </td>
    <td id="hard-drive-event-location" ng-show="hardDrive.location">{{hardDrive.location}}</td>
    <td id="hard-drive-event-date" ng-show="hardDrive.date">{{hardDrive.date | date : 'mediumDate'}}</td>
    <td id="hard-drive-event-notes" ng-show="hardDrive.note">{{hardDrive.eventnote}}</td>
  </tr>
</table>  


